<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wasu.auto.dao.TeamMapper">
  <resultMap id="BaseResultMap" type="com.wasu.auto.model.Team">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="firstChId" jdbcType="VARCHAR" property="firstchid" />
    <result column="sortby" jdbcType="INTEGER" property="sortby" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, b_id, b_name, region_id, firstChId, sortby, gmt_modified, gmt_create
  </sql>
  <select id="selectByExample" parameterType="com.wasu.auto.model.TeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chanel_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chanel_team
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wasu.auto.model.TeamExample">
    delete from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.auto.model.Team">
    insert into chanel_team (id, b_id, b_name, 
      region_id, firstChId, sortby, 
      gmt_modified, gmt_create)
    values (#{id,jdbcType=BIGINT}, #{bId,jdbcType=VARCHAR}, #{bName,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=VARCHAR}, #{firstchid,jdbcType=VARCHAR}, #{sortby,jdbcType=INTEGER}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.auto.model.Team">
    insert into chanel_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="bName != null">
        b_name,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="firstchid != null">
        firstChId,
      </if>
      <if test="sortby != null">
        sortby,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="firstchid != null">
        #{firstchid,jdbcType=VARCHAR},
      </if>
      <if test="sortby != null">
        #{sortby,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.auto.model.TeamExample" resultType="java.lang.Integer">
    select count(*) from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chanel_team
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bId != null">
        b_id = #{record.bId,jdbcType=VARCHAR},
      </if>
      <if test="record.bName != null">
        b_name = #{record.bName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        region_id = #{record.regionId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstchid != null">
        firstChId = #{record.firstchid,jdbcType=VARCHAR},
      </if>
      <if test="record.sortby != null">
        sortby = #{record.sortby,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chanel_team
    set id = #{record.id,jdbcType=BIGINT},
      b_id = #{record.bId,jdbcType=VARCHAR},
      b_name = #{record.bName,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=VARCHAR},
      firstChId = #{record.firstchid,jdbcType=VARCHAR},
      sortby = #{record.sortby,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wasu.auto.model.Team">
    update chanel_team
    <set>
      <if test="bId != null">
        b_id = #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="firstchid != null">
        firstChId = #{firstchid,jdbcType=VARCHAR},
      </if>
      <if test="sortby != null">
        sortby = #{sortby,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wasu.auto.model.Team">
    update chanel_team
    set b_id = #{bId,jdbcType=VARCHAR},
      b_name = #{bName,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=VARCHAR},
      firstChId = #{firstchid,jdbcType=VARCHAR},
      sortby = #{sortby,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wasu.auto.model.Team">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="firstChId" jdbcType="VARCHAR" property="firstchid" />
    <result column="sortby" jdbcType="INTEGER" property="sortby" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, b_id, b_name, region_id, firstChId, sortby, gmt_modified, gmt_create
  </sql>
  <select id="selectByExample" parameterType="com.wasu.auto.model.TeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chanel_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chanel_team
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wasu.auto.model.TeamExample">
    delete from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.auto.model.Team">
    insert into chanel_team (id, b_id, b_name, 
      region_id, firstChId, sortby, 
      gmt_modified, gmt_create)
    values (#{id,jdbcType=BIGINT}, #{bId,jdbcType=VARCHAR}, #{bName,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=VARCHAR}, #{firstchid,jdbcType=VARCHAR}, #{sortby,jdbcType=INTEGER}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.auto.model.Team">
    insert into chanel_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="bName != null">
        b_name,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="firstchid != null">
        firstChId,
      </if>
      <if test="sortby != null">
        sortby,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="firstchid != null">
        #{firstchid,jdbcType=VARCHAR},
      </if>
      <if test="sortby != null">
        #{sortby,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.auto.model.TeamExample" resultType="java.lang.Integer">
    select count(*) from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chanel_team
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bId != null">
        b_id = #{record.bId,jdbcType=VARCHAR},
      </if>
      <if test="record.bName != null">
        b_name = #{record.bName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        region_id = #{record.regionId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstchid != null">
        firstChId = #{record.firstchid,jdbcType=VARCHAR},
      </if>
      <if test="record.sortby != null">
        sortby = #{record.sortby,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chanel_team
    set id = #{record.id,jdbcType=BIGINT},
      b_id = #{record.bId,jdbcType=VARCHAR},
      b_name = #{record.bName,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=VARCHAR},
      firstChId = #{record.firstchid,jdbcType=VARCHAR},
      sortby = #{record.sortby,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wasu.auto.model.Team">
    update chanel_team
    <set>
      <if test="bId != null">
        b_id = #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="firstchid != null">
        firstChId = #{firstchid,jdbcType=VARCHAR},
      </if>
      <if test="sortby != null">
        sortby = #{sortby,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wasu.auto.model.Team">
    update chanel_team
    set b_id = #{bId,jdbcType=VARCHAR},
      b_name = #{bName,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=VARCHAR},
      firstChId = #{firstchid,jdbcType=VARCHAR},
      sortby = #{sortby,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <resultMap id="BaseResultMap" type="com.wasu.auto.model.Team">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="b_id" jdbcType="VARCHAR" property="bId" />
    <result column="b_name" jdbcType="VARCHAR" property="bName" />
    <result column="region_id" jdbcType="VARCHAR" property="regionId" />
    <result column="firstChId" jdbcType="VARCHAR" property="firstchid" />
    <result column="sortby" jdbcType="INTEGER" property="sortby" />
    <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
    <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, b_id, b_name, region_id, firstChId, sortby, gmt_modified, gmt_create
  </sql>
  <select id="selectByExample" parameterType="com.wasu.auto.model.TeamExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from chanel_team
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from chanel_team
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wasu.auto.model.TeamExample">
    delete from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wasu.auto.model.Team">
    insert into chanel_team (id, b_id, b_name, 
      region_id, firstChId, sortby, 
      gmt_modified, gmt_create)
    values (#{id,jdbcType=BIGINT}, #{bId,jdbcType=VARCHAR}, #{bName,jdbcType=VARCHAR}, 
      #{regionId,jdbcType=VARCHAR}, #{firstchid,jdbcType=VARCHAR}, #{sortby,jdbcType=INTEGER}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{gmtCreate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wasu.auto.model.Team">
    insert into chanel_team
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bId != null">
        b_id,
      </if>
      <if test="bName != null">
        b_name,
      </if>
      <if test="regionId != null">
        region_id,
      </if>
      <if test="firstchid != null">
        firstChId,
      </if>
      <if test="sortby != null">
        sortby,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="bId != null">
        #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        #{bName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="firstchid != null">
        #{firstchid,jdbcType=VARCHAR},
      </if>
      <if test="sortby != null">
        #{sortby,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wasu.auto.model.TeamExample" resultType="java.lang.Integer">
    select count(*) from chanel_team
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update chanel_team
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.bId != null">
        b_id = #{record.bId,jdbcType=VARCHAR},
      </if>
      <if test="record.bName != null">
        b_name = #{record.bName,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null">
        region_id = #{record.regionId,jdbcType=VARCHAR},
      </if>
      <if test="record.firstchid != null">
        firstChId = #{record.firstchid,jdbcType=VARCHAR},
      </if>
      <if test="record.sortby != null">
        sortby = #{record.sortby,jdbcType=INTEGER},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update chanel_team
    set id = #{record.id,jdbcType=BIGINT},
      b_id = #{record.bId,jdbcType=VARCHAR},
      b_name = #{record.bName,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=VARCHAR},
      firstChId = #{record.firstchid,jdbcType=VARCHAR},
      sortby = #{record.sortby,jdbcType=INTEGER},
      gmt_modified = #{record.gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{record.gmtCreate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wasu.auto.model.Team">
    update chanel_team
    <set>
      <if test="bId != null">
        b_id = #{bId,jdbcType=VARCHAR},
      </if>
      <if test="bName != null">
        b_name = #{bName,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null">
        region_id = #{regionId,jdbcType=VARCHAR},
      </if>
      <if test="firstchid != null">
        firstChId = #{firstchid,jdbcType=VARCHAR},
      </if>
      <if test="sortby != null">
        sortby = #{sortby,jdbcType=INTEGER},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wasu.auto.model.Team">
    update chanel_team
    set b_id = #{bId,jdbcType=VARCHAR},
      b_name = #{bName,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=VARCHAR},
      firstChId = #{firstchid,jdbcType=VARCHAR},
      sortby = #{sortby,jdbcType=INTEGER},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>